#header-table,
#grades-section,
.comm-section {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 0;
    padding: 0;
}

td.header {
    text-align: right;
}

#name-section {
    width: 50%;
    border-collapse: collapse;
    background-color: lightgray;
}

.student-data,
.grades-header {
    border-collapse: collapse;
    border: 1px solid #000;

    text-align: center;
}

.footer {
    border-collapse: collapse;
    border: 1px solid #000;
    white-space: nowrap;
    width: 1px;
    padding-bottom: 10px;
    padding-top: 10px;
    
}