#header-table,
#grades-section,
.comm-section {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 0;
    padding: 0;
}

td.header {
    text-align: right;
}

#name-section {
    width: 100%;
    border-collapse: collapse;
    background-color: lightgray;
}

.student-data,
.grades-header {
    border-collapse: collapse;
    border: 1px solid #000;

    text-align: center;
}

.footer {
    border-collapse: collapse;
    border: 1px solid #000;
    white-space: nowrap;
    width: 1px;
    padding-bottom: 10px;
    padding-top: 10px;
    
}

.parent-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.student-container {
    display: inline-block;
    width: calc(50% - 20px);
    vertical-align: top;
    margin-bottom: 20px;
    page-break-inside: avoid;
}

.student-container > table {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .student-container {
        display: block;
        width: 100%;
    }
}

